{% extends 'layout.html.twig' %}

{% block barTitle %}
<h2> Découvre ton chef à deux pas de chez toi !</h2>
{% endblock %}


{% block searchBar%}
    <form method="post" action ="">
<div class="form-group">
        {{ inputBar|raw }}
</div>
    {{ buttonBar |raw }}
    </form>
{% endblock %}
