{#Form  MEAL#}

<form method="post" action="/meal/add">
    <div class="form-group">
        <label for="name">Un nom qui représente votre plat!</label>
        <input type="text" class="form-control" name="name" placeholder="Nom de votre plat">
    </div>


    <div class="form-group">
        <label for="description">Une description représentant votre plat!</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>


    <div class="form-group">
        <label for="price">Prix par unité TTC</label>
        <input type="number" class="form-control" name="price" placeholder="prix par unité">
    </div>

    <div class="form-group">
        <label for="pictures">Selectionnez de belle images de vos plats</label>
        <input type="file" class="form-control-file" name="pictures">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>