{#add MEAL#}

{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter une nouveau produit</h1>
    <div class="container">
    {% include 'Meal/_form.html.twig' %}
    </div>
{% endblock %}
